.flaviaFooter{
    color: #fff;
    
}
.boxFooter{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.FooterPrincipal{
    background: linear-gradient(155deg, rgba(140,1,135,0.8575805322128851) 22%, rgba(249,150,0,0.7931547619047619) 50%, rgba(103,1,180,0.7511379551820728) 81%);
    align-items:center;
}
.social{
    display:flex;
    
    justify-content: center;
    color: #fff;
    flex-direction: column;
}
.icones{
    margin-inline: 30px;
}
.iconesPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.siga{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}
.copyright{
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
.copyright2{
    font-size: 1rem;
}
.footerSiga{
    background-color: black !important;
    
}