.searchIcon {
    padding: 10px;
    height: 1.3vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.search {
    position: relative;
    border-radius: 10px;
    background-color: rgba(66, 66, 66, 0.473);
    margin-left: 0;
    width: 20vw;
    margin-left: 60vw;
  }
  .text-decorator-none{
    text-decoration: none;
    color: black;
}

.navbar{
  background: linear-gradient(155deg, rgba(140,1,135,0.8575805322128851) 22%, rgba(249,150,0,0.7931547619047619) 50%, rgba(103,1,180,0.7511379551820728) 81%) !important;
}